---
env:
    node: true
    es6: false
ecmaFeatures:
    modules: false
    jsx: false
rules:
    semi:
        - 2
        - always
    quotes:
        - 2
        - single
    strict:
        - 2
        - global
